#dashboardAdd {
    margin-top: 100px;
}

#MainFormAdd {
    margin-top: 100px;
}

#employeeField, #roomField, #eventField {
    display: none;
}

#authFailed {
    margin-top: 100px;
}

#addSpinner {
    margin-top: 300px;
    margin-left: 460px;
    width: 300px;
}