.Nav {
  height: 60px;
  width: 100%;
  background-color: black ;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  animation: 1s ease-out 0s 1 slideInFromTop;

  
}
