.check li {
    position: relative;
    display: inline-block;
    padding: 0em 1em;
}

.checkItemsList {
    margin: 0;
}


#checkbar {
    position: relative;
    width: 100%;
    height: 60px;
    top: -60px;
    background-color: rgba(99, 99, 107, 0.63);
    transition: top 0.5s;
    color: white;
}

#nums {
    color: white;
    vertical-align: middle;
    /* border-bottom-color: white;
    transition: border .3s; */
}

::placeholder {
    color: white;
    opacity: 1;
    font-size: 16px;
    font-weight: lighter;
}