.footer{
    background-color: black;
    position: absolute;
    top: 250%;
    width: 100%;
    height: 75%;
    display: flex;
}

.logo{
    position: relative;
    left: 763px;
    top: 20px;
}

.social{
    position: relative;
    color: white;
    top: -80px;
    font-size: x-large;
    left: 50px;
    font-family:'Franklin Gothic Medium';
}
.amirInsta{
    position: relative;
    color: white;
    top: -80px;
    left:50px;
    font-size: small;
}
.contact{
    position: relative;
    font-family: 'Franklin Gothic Medium';
    font-size: x-large;
    color:white;
    top: -243px;
    left: 300px;
}