
.logo{
    position: absolute;
    left: 763px;
    top: 20px;
}

.social{
    position: absolute;
    color: white;
    top: 100px;
    font-size: x-large;
    left: 50px;
    font-family:'Franklin Gothic Medium';
}
.amirInsta{
    position: absolute;
    color: white;
    top: 200px;
    left:50px;
    font-size: small;
}
.contact{
    position: absolute;
    font-family: 'Franklin Gothic Medium';
    font-size: x-large;
    color:white;
    top: 130px;
    left: 300px;
}
.footer {
    background-color: black;
    position: relative;
    height: 400px;
    margin-top: -400px;
    clear: both;
  }  