
.DateRangePickerInput {
    background: transparent !important;
    border-radius: 0;
    border: 0;
}

.DateInput_1 {
    background: transparent !important;
}

.DayPicker_transitionContainer {
    height: 350px !important;
    position: fixed !important;
}

.DayPicker_weekHeader {
    top: 40px;
}

.DateRangePicker_picker {
    top: auto !important;
    left: auto !important;
}

.DateRangePickerInput_arrow {
    color: #26a69a !important;
    padding-right: 10px;
}