
.DateRangePickerInput {
    background: transparent !important;
    border-radius: 0;
    border: 0;
}

.DateInput_1 {
    background: transparent !important;
    
}
#startDate , #endDate{
    color: #ffffff;
    border-bottom-color: #ffffff;
}

#startDate , #endDate


.DayPicker_transitionContainer {
    height: 350px !important;
    position: fixed !important;
}

.DayPickerKeyboardShortcuts_buttonReset{
    display: none;
}

.DateRangePicker_picker {
    top: auto !important;
    left: auto !important;
}

.DateRangePickerInput_arrow {
    padding-right: 10px;
}

.DateRangePickerInput_arrow_svg {
    fill: #ffffff !important;
}