.Reservation {
    position: relative;
    border: 1px solid grey;
    padding: 10px;
    box-sizing: border-box;
    top: 30px;
}

.Reservation h2 {
    font-size: small;
}

.Reservation h1 {
    font-size: large;
}

