.Rooms{
    position: relative;
    margin-top: -40px 
}

.error{
    position: fixed;
    border:5px solid dimgray;
    top: 60%;
    left: 33%;
    font-size: large;
    background-color: black;
    color: white;
    padding: 20px;
    width:30%;
    z-index: -100;
}


.empty{
    position: absolute;
    padding: 20px;
    margin-left: 27%;
    font-size: large;
    
}