.Room{
    width: 550px;
    border: 1px solid black;
    padding: 50px;
    left: 40%;
    position: fixed;
    background-color: silver;
    top: 34%;
    
}


 
.checkout{
    position: relative;
    top:10%;
    margin-left: 90%;
    bottom: -30px;
}
.title{
    position: relative;
    font-weight: bold;
    top:30px;
    bottom: 15px;
}
.type{
    position: relative;
    font-weight: bold;
    top:-25px
}
.from{
    position: relative;
    top:-47px;
    font-weight: bold;
    left:80%
}

.bed{
    position: relative;
    top:20px;
}

.pic{
    position: absolute;
    width: 300px;
    top: -1px;
    left: -301px;
    height: 213px;
}

 
