#tabsContainer {
    position: relative;
    top: 6em;
}

#tabsList {
    width: 100%;
}

.resvinfo{
    background-color: #D8D8D8;
    padding-top: 21px;
    height: 42px;
    text-transform: uppercase;
}

.resvinfo p {
    position: absolute;
    top: 10px;
}