.vidcontain{
    top:60px;
    left:0;
    height:90%;
    width:100%;
    overflow: hidden;
    translate:(-50%,-50%);
    z-index: -1;
    position: absolute;
    margin-right: 30%;
    object-fit: cover;
}

.vid{
    z-index:-1;
    width: 85%;
    object-fit: cover;

}

.striped-border {
    position: relative;
    border: 1px solid  black;
    top:400px
}


