/* #root {
    z-index: -5;
} */

  /**
   * Footer Styles
   */
   html, body {
    height: 100%;
  }

  .wrapper {
    min-height: 100%;

  }
  .main{
      overflow: auto;
      padding-bottom: 500px;
      position: relative;
      margin-bottom: 500px;
  }

